#### 1/Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов. Даны значения роста в трех группах случайно выбранных спортсменов: Футболисты: 173, 175, 180, 178, 177, 185, 183, 182. Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180. Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [112]:
F= [173, 175, 180, 178, 177, 185, 183, 182]
H = [177, 179, 180, 188, 177, 172, 171, 184, 180]
P = [172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170]

In [113]:
import numpy as np

n1 = len(F)
n2 = len(H)
n3 = len(P)
n = n1 + n2 + n3
print(n)

28

In [114]:
k = 3
y1 = np.array(F, dtype=np.float64)
y2 = np.array(H, dtype=np.float64)
y3 = np.array(P, dtype=np.float64)

In [115]:
y1_mean = np.mean(y1)
print(y1_mean)

179.125

In [116]:
y2_mean = np.mean(y2)
print(y2_mean)

178.66666666666666

In [117]:
y3_mean = np.mean(y3)
print(y3_mean)

172.72727272727272

In [118]:
y_all = np.concatenate([y1, y2, y3])
y_all

array([173., 175., 180., 178., 177., 185., 183., 182., 177., 179., 180.,
       188., 177., 172., 171., 184., 180., 172., 173., 169., 177., 166.,
       180., 178., 177., 172., 166., 170.])

In [119]:
y_mean = np.mean(y_all)
print(y_mean)

176.46428571428572

In [120]:
s2 = np.sum((y_all - y_mean)**2)
s2

830.9642857142854

In [121]:
s2_f = ((y1_mean - y_mean)**2) * n1 + ((y2_mean - y_mean)**2) * n2 + ((y3_mean - y_mean)**2) * n3
s2_f

253.9074675324678

In [122]:
s2_residual =np.sum(np.concatenate([(y1 - y1_mean)**2 ,(y2 - y2_mean)**2,(y3 - y3_mean)**2]))
s2_residual

577.0568181818181

In [123]:
print(s2)
print(s2_f + s2_residual)

830.9642857142854
830.9642857142859

In [124]:
sigma2_general = s2 / (n - 1)
sigma2_general

30.776455026455015

In [125]:
sigma2_f = s2_f / (k - 1)
sigma2_f

126.9537337662339

In [126]:
sigma2_residual = s2_residual / (n - k)
sigma2_residual

23.082272727272724

In [127]:
F_h = sigma2_f / sigma2_residual
F_h

5.500053450812599

In [128]:
Fcritical  =3.35

In [129]:
F_h > Fcritical

True

#### Различие статистически значимое. Вид спорта  влияет на рост.

In [130]:
from scipy import stats

In [131]:
stats.f_oneway(y1,y2,y3)

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)